<div class="title_container">
    <div class="title_row"> 
        <angular-emojis [name]="'cloud'" size="20"></angular-emojis>
        <h1 class="title_text">Services</h1>   
    </div>
    <p class="subtitle_row">Services I offer</p>
</div>

<div class="services-container">
    <mat-card *ngFor="let service of services" class="service-element">
        <mat-card-title>{{service.name}}</mat-card-title>
        <!-- <mat-card-content>{{service.description}}</mat-card-content> -->
    </mat-card>
</div>