<mat-toolbar color="primary">
  <mat-toolbar-row>

    <div class="flex-stretch home-button-container">
      <div class="mobile-toggle nav-menu-list">
        <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
        
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="setScrollToSubject(scrollToEnum.SKILLS)">SKILLS</button>
          <button mat-menu-item (click)="setScrollToSubject(scrollToEnum.SERVICES)">SERVICES</button>
          <button mat-menu-item (click)="setScrollToSubject(scrollToEnum.PROJECTS)">PROJECTS</button>
        </mat-menu>
      </div>
      
      <button mat-button class="home-button" (click)="resetScroll()">
        <span>
          <fa-icon class="accent" [icon]="faCode" size="2x"></fa-icon>
          <h1>D'ARCY DEV</h1>
        </span>
      </button>
    </div>
    
    <div class="nav-menu-list flex-stretch web-toggle">
      <button mat-button (click)="setScrollToSubject(scrollToEnum.SKILLS)">SKILLS</button>
      <button mat-button (click)="setScrollToSubject(scrollToEnum.SERVICES)">SERVICES</button>
      <button mat-button (click)="setScrollToSubject(scrollToEnum.PROJECTS)">PROJECTS</button>
    </div>
    
    <div class="dark-mode-toggle flex-stretch">
      <mat-icon *ngIf="isDarkMode" class="mr-8" color="accent">bedtime</mat-icon>
      <mat-icon *ngIf="!isDarkMode" class="mr-8">wb_sunny</mat-icon>
      <mat-slide-toggle [formControl]="toggleControl" class="mr-3"></mat-slide-toggle>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row class="production-warning background-accent" *ngIf="isProduction"> 
    <p> Early build. Expect bugs & unfinished features ;)</p>
  </mat-toolbar-row>
</mat-toolbar>
