<div class="title_container">
  <div class="title_row">
    <angular-emojis [name]="'banana'" size="20"> </angular-emojis>
    <h1 class="title_text">Spotlighted Projects</h1>
  </div>
</div>


  <div class="spotlight-container">

    <mdb-carousel
    class="carousel slide carousel-fade carousel-spotlight"
    [animation]="'fade'"
    style="height: 200px"
  >
  <mdb-carousel-item style ="width:100%">
    <mat-card style ="width:100%">
      <mat-card-title>
        <h1>Project 1</h1>
      </mat-card-title>
      <mat-card-subtitle>
        <h2>Subtitle</h2>
      </mat-card-subtitle>
      <mat-card-content>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
        euismod aliquet nunc, eget egestas erat. Sed euismod, urna eu
        tincidunt cursus, nisi nisl aliquam nunc, eget egestas erat.
      </mat-card-content>
    </mat-card>
  </mdb-carousel-item>
  <mdb-carousel-item style ="width:100%">
    <mat-card style ="width:100%">
      <mat-card-title>
        <h1>Project 2</h1>
      </mat-card-title>
      <mat-card-subtitle>
        <h2>Subtitle</h2>
      </mat-card-subtitle>
      <mat-card-content>
        Lorem ipsum ipsum dolor sit amet, consm dolor sit amet, consectetur adipiscing elit. Mauris
        euismod aliqm ipsum dolor sit amet, consuet nunc, eget egestas erat. Sed euismod, urna eu
        tincidunt cursum ipsum dolor sit amet, conss, nisi nisl aliquam nunc, eget egestas erat.
      </mat-card-content>
    </mat-card>
  </mdb-carousel-item>
  <mdb-carousel-item style ="width:100%">
    <mat-card style ="width:100%">
      <mat-card-title>
        <h1>Project 3</h1>
      </mat-card-title>
      <mat-card-subtitle>
        <h2>Subtitle 3</h2>
      </mat-card-subtitle>
      <mat-card-content>
        Lorem ipsum ipsum dolor sit amet, consm ipsum dolor sit amet, consm dolor sit amet, consectetur adipiscing elit. Mauris
        euismod aliquet m ipsum dolor sit amet, consm ipsum dolor sit amet, consm ipsum dolor sit amet, consnunc, eget egestas erat. Sed euismod, urna eu
        tincidunt cursus, nisi nisl aliquam nunc, eget egestas erat.
      </mat-card-content>
    </mat-card>
  </mdb-carousel-item>
  <mdb-carousel-item style ="width:100%">
    <mat-card style ="width:100%">
      <mat-card-title>
        <h1>Project 4</h1>
      </mat-card-title>
      <mat-card-subtitle>
        <h2>Subtitle 4</h2>
      </mat-card-subtitle>
      <mat-card-content>
        Lorem ipsum dolor sit amet, conset nunc, eget egestas erat. Sed euismod, urna eu
        tincidunt cursus, nisi nisl aliquam nunc, eget egestas erat.
      </mat-card-content>
    </mat-card>
  </mdb-carousel-item>
</mdb-carousel>
</div>
