<div class="title_container">
  <div class="title_row">
    <angular-emojis [name]="'banana'" size="20"> </angular-emojis>
    <h1 class="title_text">Spotlighted Projects</h1>
  </div>
</div>


  <div class="spotlight-container">

    <mdb-carousel
    class="carousel slide carousel-fade carousel-spotlight"
    [animation]="'fade'"
  >
  <mdb-carousel-item style ="width:100%">
    <mat-card class="carousel-card">
      <img src="../../assets/vodafone-spotlight.png" alt="Card image cap">
      <mat-card-title>
        <h1>Vodafone NPS Analytics Tool</h1>
      </mat-card-title>
      <mat-card-subtitle>
        An internal application I developed for Vodafone Ireland during my time there as an intern
      </mat-card-subtitle>
    </mat-card>
  </mdb-carousel-item>
  <mdb-carousel-item style ="width:100%">
    <mat-card class="carousel-card">
      <img src="../../assets/flickstack-spotlight.png" alt="Card image cap">
      <mat-card-title>
        <h1>FlickStack App</h1>
      </mat-card-title>
      <mat-card-subtitle>
        FlickStack is an app for friends or couples to help decide on which movie to watch
      </mat-card-subtitle>
    </mat-card>
  </mdb-carousel-item>
  <mdb-carousel-item style ="width:100%">
    <mat-card class="carousel-card">
      <img src="../../assets/notify-spotlight.png" alt="Card image cap">
      <mat-card-title>
        <h1>Notify</h1>
      </mat-card-title>
      <mat-card-subtitle>
        Notify was a University project I made with a few friends where you can stream music and watch music videos while viewing data about the music
      </mat-card-subtitle>
    </mat-card>
  </mdb-carousel-item>
  <mdb-carousel-item style ="width:100%">
    <mat-card class="carousel-card">
      <img src="../../assets/devnotes-spotlight.png" alt="Card image cap">
      <mat-card-title>
        <h1>DevNotes</h1>
      </mat-card-title>
      <mat-card-subtitle>
        A developer focused notes app for keeping track of your projects and ideas
      </mat-card-subtitle>
    </mat-card>
  </mdb-carousel-item>
  <mdb-carousel-item style ="width:100%">
    <mat-card class="carousel-card">
      <img src="../../assets/codeswap-spotlight.png" alt="Card image cap">
      <mat-card-title>
        <h1>CodeSwap</h1>
      </mat-card-title>
      <mat-card-subtitle>
        Connecting new developer questions with experienced developers answers
        <br>
A platform to empower and financially support developers with the honor tipping system
</mat-card-subtitle>
    </mat-card>
  </mdb-carousel-item>
  <mdb-carousel-item style ="width:100%">
    <mat-card class="carousel-card">
      <img src="../../assets/christmas-spotlight.gif" alt="Card image cap">
      <mat-card-title>
        <h1>Santa Pizza Game</h1>
      </mat-card-title>
      <mat-card-subtitle>
        This is a game I developed during the christmas period for fun where you play as a pizza slice with a santa hat
      </mat-card-subtitle>
    </mat-card>
  </mdb-carousel-item>
  <mdb-carousel-item style ="width:100%">
    <mat-card class="carousel-card">
      <img src="../../assets/zombie-spotlight.gif" alt="Card image cap">
      <mat-card-title>
        <h1>ProjectZ Game</h1>
      </mat-card-title>
      <mat-card-subtitle>
        A game I made for Ludum dare 39 game development competition using my own game engine
      </mat-card-subtitle>
    </mat-card>
  </mdb-carousel-item>
</mdb-carousel>
</div>
