<div class="title_container" style="margin-top: 30px">
  <div class="title_row">
    <angular-emojis [name]="'office'" size="20"> </angular-emojis>
    <h1 class="title_text" style="color:white">Companies I've Worked At</h1>
  </div>
</div>

<div class="experience-container">
  <mat-card class="experience-card">
    <mat-card-title>
      <img src="assets/vodafone.png" width="50" class="compango-logo primary_border" />
      <div>
        <span>Vodafone Ireland</span>
        <mat-card-subtitle style="margin: 0">
          <span>2020 January - 2020 September</span><br />
          <span>Converged Performance Analytics Engineer Internship</span>
        </mat-card-subtitle>
      </div>
    </mat-card-title>
    <mat-card-content>
      As an intern in Vodafone Ireland I created an internal web application
      allowing network engineers to monitor, flag and predict network
      performance issues.
    </mat-card-content>
  </mat-card>

  <mat-card class="experience-card">
    <mat-card-title>
      <img src="assets/accenture.png" width="50" class="compango-logo primary_border" />
      <div>
        <span>Accenture Ltd</span>
        <mat-card-subtitle style="margin: 0">
          <span>2021 October - Current</span><br />
          <span>Full Stack Software Engineer</span>
        </mat-card-subtitle>
      </div>
    </mat-card-title>
    <mat-card-content>
      I am currently working on internal web applications for Accenture's CIO
      division as a full stack software engineer. I am part of a rapid custom
      software engineering team, buiding Accenture's client-project financial
      forecasting and risk management application.
    </mat-card-content>
  </mat-card>
</div>
