.title_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .title_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .title_text {
      text-align: center;
      font-weight: bold;
      margin: 0px;
      margin-left: 5px;
    }
  }
  .sorting_text {
    filter: brightness(0.6);
  }
}

.project-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: space-evenly;
  justify-content: flex-start;
  padding-left: 200px;
  padding-right: 200px;

  .mat-card-header {
    flex-shrink: 0;
  }

  .mat-card-content {
    flex-grow: 1;
   }
}

@media only screen and (max-width: 800px) {
  .project-container {
    padding-left: 0px;
    padding-right: 0px;
  }
}

mat-card {
  display: flex;
  justify-content: start;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 350px;
  margin: 10px;
  flex-grow: 4;
  flex: 2 2;

  mat-card-title {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  mat-card-content {
    padding-top: 10px;
  }

  mat-chip-list {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
}

.projects-loading {
  margin: 5px;
  height: 20px;
  display: flex;
  justify-content: center;
}
