<div style="display:flex; align-items:center; justify-content:center;">
    <angular-emojis [name]="'red_circle'" size="12"> </angular-emojis>
    <h1 style="text-align:center; font-weight:bold; margin:0px; margin-left: 5px">
        Projects On GitHub
    </h1>   
</div>

<div *ngIf="!githubLoading else loading" class="project-container">
    <mat-card *ngFor="let repo of repos">
        <mat-card-title style="font-weight: bold; margin:0;">
            {{repo.name}}
        </mat-card-title>
        
        <mat-card-content *ngIf="repo.languages">
            <p>{{repo.description}}</p>
            <mat-chip-list aria-label="repo langauges" *ngIf="repo.languages" >
                <mat-chip selected *ngFor="let langauage of repo.languages" color="accent">{{langauage}}</mat-chip>
            </mat-chip-list>
        </mat-card-content>
        
        <mat-card-actions>
            <button mat-flat-button color="primary" (click)="openRepo(repo.html_url)">View Project</button>
        </mat-card-actions>
    </mat-card>
</div>

<ng-template #loading>
    <mat-card class="projects-loading" *ngFor="let repo of repos">
        <mat-spinner [diameter]="20"></mat-spinner>
    </mat-card>
</ng-template>