.title_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .title_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .title_text {
      text-align: center;
      font-weight: bold;
      margin: 0px;
      margin-left: 5px;
    }
  }
  .subtitle_row {
    filter: brightness(0.6);
    margin: 0px;
  }
}

.project-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: space-evenly;
  justify-content: flex-start;
  margin-left: 100px;
  margin-right: 100px;
  max-height: 900px;
  overflow-y: auto;

  .mat-card-header {
    flex-shrink: 0;
  }

  .mat-card-content {
    flex-grow: 1;
  }
}

@media only screen and (max-width: 800px) {
  .project-container {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
  }
}

mat-card {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 300px;
  margin: 10px;
  flex-grow: 4;
  flex: 2 2;

  mat-card-title {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  mat-card-content {
    padding-top: 10px;
  }

  mat-card-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 
    .project-timestamp{
      display: flex;
      align-items: center;
      justify-content: center;
      
    }
  }

  mat-chip-list {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
}

.loading {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
