<div class="title_container" style="margin-top: 10px">
  <div class="title_row">
    <angular-emojis [name]="'computer'" size="20"> </angular-emojis>
    <h1 class="title_text">Technologies</h1>
  </div>
  <p class="subtitle_row">
    These are the technologies I use to build applications
  </p>
</div>

<div class="skills-container">
  <mat-chip-list style="margin-left: 10px; margin-right: 10px" *ngIf="skills">
    <mat-chip
      disableRipple
      matRipple
      matRippleRadius="10"
      *ngFor="let skill of skills"
      color="primary"
      class="skill-chip"
    >
      <fa-icon class="accent" [icon]="skill.icon" size="2x"></fa-icon>
      <h2 style="font-family: Inconsolata; margin: 0">
        {{ skill.name }}
      </h2>
    </mat-chip>
  </mat-chip-list>
</div>
