<div class="home-container">
    <div #introTarget  class="component-spacer">
        <app-into #introTarget></app-into>
        <app-experience></app-experience>
    </div>
    <div #skillsTarget  class="component-spacer">
        <mat-divider class ="home-divider"></mat-divider>
        <app-skills #skillsTarget></app-skills> 
    </div>
    <div #servicesTarget class="component-spacer">
        <mat-divider class ="home-divider"></mat-divider>
        <app-services-provided></app-services-provided>
    </div>
    <div #projectsTarget >
        <mat-divider class ="home-divider"></mat-divider>
        <app-projects ></app-projects>
        <mat-divider class ="home-divider"></mat-divider>
    </div>
</div>