.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .home-divider {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
  }

  @media only screen and (max-width: 800px) {
    .home-divider {
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 10px;
   }
  }
}

.component-spacer {
  margin-bottom: 80px;
  width: 100%;
}
