<mat-card class="info-container">

    <img src="../../assets/profile.jpg" alt="Terry D'Arcy profile picture" class="intro-profile-image primary_border">
    
    <div class="bio">
        <H1 style="font-weight:bold;">Terry D'Arcy</H1>
        <table class="intro-table">
            <tr>
                <td><angular-emojis [name]="'briefcase'" size="20"> </angular-emojis></td>
                <td>Full Stack Software Engineer</td>
            </tr>
            <tr>
            <td> <h1 style="margin:0">👨‍🎓</h1></td>
            <td>Bachelor of Science Degree<br/>
                    Computer Science & Software Engineering</td>
            </tr>
            <tr>
                <td style="display:flex"> <angular-emojis [name]="'round_pushpin'" size="20"> </angular-emojis></td>
                <td>Dublin, Ireland</td>
            </tr>
        </table>
    </div>
</mat-card>

    
